.btn_login {
  font-size: 15px !important;
  padding: 5px 30px !important;
  color: white !important;
  margin-top: 8px;
  margin-left: 10px;
}
.form_register{
  font-size: 1rem;
  margin-bottom: 0.5rem !important;
}
.menu{
  background-color: #525353;
  padding-top: 10px;
  padding-bottom: 10px;
}
.menu_top{
  font-size: 90%;
  font-weight: 400;
  /*padding: 0.75em 0;*/
  letter-spacing: 1px;
  color: white !important;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;

}
.menu_top.active{
  color: #fed136 !important;
}
.menu_top:hover{
  color: #fed136 !important;
}
.text_cards{
  color: #525353 !important;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 90%
}


.demo-card-wide.mdl-card {
  /*width: 512px;*/
}
.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
  background: url('../img/team/1.jpg') center / cover;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}
.btn_look{
  margin-top: 6%;
  margin-left: 46%;
}
.btn_save{
float: right;
}
.mdl-card__title-text{
  padding-top: 2%;
  text-align: center;
}
.mdl-card__supporting-text{
  text-align: center;
}
.mdl-card__title{
  margin-top: 5%;
}
@media (min-width: 768px) {
  header.page_background .intro-text {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }
}
header.page_background .intro-text {
  padding-top: 150px !important;
  padding-bottom: 100px !important;
}

/*.demo-card-square.mdl-card {*/
  /*width: 320px;*/
  /*height: 320px;*/
/*}*/
/*.demo-card-square > .mdl-card__title {*/
  /*color: #fff;*/
  /*background:*/
          /*url('../img/team/1.jpg') bottom right 15% no-repeat #46B6AC;*/
/*}*/

.page_background{
  background-color: black !important;
}
#vk_login_div{
  background-color: #5082b9;
}
#ok_login_div{
  background-color: #fe9700;
}
#ok_login_div:hover,#vk_login_div:hover{
  box-shadow: 2px 2px 6px rgba(0,0,0,0.4);
}
.a_without_decoration{
  text-decoration: none;
}
.a_without_decoration:hover{
  text-decoration: none;
}
.a_without_decoration:visited{
  text-decoration: none;
}
.log_via_soc_a,.log_via_soc_a:hover,.log_via_soc_a:visited{
  color: white;

}
.log_via_soc_div{
  width: 75%;
  margin-top: 3vh;
}

.error_messages{
  text-align: center;
  color: red;
}
.good_messages{
  text-align: center;
  color: limegreen;
}

footer{
  padding: 15px 0 !important;
}
.icon_ok{
  margin-right: 5%;
  color: green;
  cursor: pointer;
}
.icon_no{
  margin-left: 5%;
  color: red;
  cursor: pointer;
}
.our_hidden_ul{
  position: absolute;
  background-color: white;
  opacity: 0;
}
.filter_ul {
  list-style-type: none; /* Убираем маркеры */
  margin-top: 3%;
}
.our_hidden_ul{
  padding: 1.4rem;
  border-bottom: 1px solid #e9ecef;
  border-top-left-radius: .3rem;
  border-top-right-radius: .3rem;
  /*margin-left: 1%;*/
  box-shadow: 0 0 10px rgba(0,0,0,0.8) /* Параметры тени */
}
.filter_ul_item{
  text-decoration: none !important; /* Отменяем подчеркивание у ссылки */
}
.mainNavigation{
  background-color: rgba(0,0,0,0);
}
@media (min-width: 992px) {
  #mainNav {
    padding-top: 15px !important;
    padding-bottom: 10px !important;

  }
}
footer span.copyright_one{
  color: white;
  font-size: 90%;
  line-height: 40px;
  text-transform: none;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.a_cont{
  font-size: 100% !important;
  text-transform: uppercase!important;
}
.dis_none{
  display: none;
}
#place_for_previews{
  padding-bottom: 2vh;
}
#place_for_previews > div{
  display: inline-block;
  margin-top: 3vh;
  margin-bottom: 1vh;
  margin-left: 1.5vh;
  margin-right: 1.5vh;
}
.previws_imgs{
  width: 100%;
  max-height: 12vh;
}
.spans_div{
  height: 9vh;
  text-align: left;
}
.spans_1{

}
.previws_spans{
  max-height: 12vh;
  width: 100%;
}
.img_content{
  padding-left: -8vh !important;
}
.pos-abs{
  position: absolute !important;
}
.without_p{
  padding: 0px !important;
}
.red{
  background-color: red;
}
.yel{
  background-color: yellow;
}
.pointer{
  cursor: pointer;
}
.delete_icon{
  color: white;
  width: 3vh;
  height: 3vh;
  /*background-color: rgba(254,209,54,0.75);*/
  background-color: rgba(128, 128, 128, 0.5);

}
.for-inline{
  display: inline-block;
}
#div_for_small_images > div{
  display: inline-block;
  cursor: pointer;
}