.btn_login {
  font-size: 15px !important;
  padding: 5px 30px !important;
  color: white !important;
  margin-top: 8px;
  margin-left: 10px;
}
.form_register{
  font-size: 1rem;
  margin-bottom: 0.5rem !important;
}
.menu{
  background-color: #525353;
  padding-top: 10px;
  padding-bottom: 10px;
}
.menu_top{
  font-size: 90%;
  font-weight: 400;
  /*padding: 0.75em 0;*/
  letter-spacing: 1px;
  color: white !important;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;

}
.menu_top.active{
  color: #fed136 !important;
}
.menu_top:hover{
  color: #fed136 !important;
}
.text_cards{
  color: #525353 !important;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 90%
}


.demo-card-wide.mdl-card {
  /*width: 512px;*/
}
.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
  background: url('../img/team/1.jpg') center / cover;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}
.btn_look{
  margin-top: 6%;
}
.mdl-card__title-text{
  padding-top: 2%;
}
.mdl-card__title{
  margin-top: 5%;
}
@media (min-width: 768px) {
  header.masthead .intro-text {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }
}
header.masthead .intro-text {
  padding-top: 150px !important;
  padding-bottom: 100px !important;
}
#vk_login_div{
  background-color: #5082b9;
}
#ok_login_div{
  background-color: #fe9700;
}
#ok_login_div:hover,#vk_login_div:hover{
  box-shadow: 2px 2px 6px rgba(0,0,0,0.4);
}
.a_without_decoration{
  text-decoration: none;
}
.a_without_decoration:hover{
  text-decoration: none;
}
.a_without_decoration:visited{
  text-decoration: none;
}
.log_via_soc_a,.log_via_soc_a:hover,.log_via_soc_a:visited{
  color: white;

}
.log_via_soc_div{
  width: 75%;
  margin-top: 3vh;
}